*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
/*sempre recordar de resetar os valores padrão*/


body{
    background-color:#22212C;
    font-family: 'Merriweather Sans', sans-serif;
}


/*profile, pic and h1,p*/
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*centralizando items dentro da box do profile*/
    
    width: 348px;
    height: 292px;
    /*tamanho da box*/

    /*cor de fundo da div e efeito filter drop-shadow(horiz, vertical, cor)*/
    background-color: #302F3D;
    filter: drop-shadow(2px 2px #1E1E1E);
    
    
    margin: 40px 40px 0;
    border-radius: 20px;
    /*margins em relação ao lado de fora e arredondamento das pontas*/
    
    
    color: #837E9F;
    font-weight: 400;
}

.profile h2{
    margin-top:30px;
    margin-bottom: 10px;

}

.profile img{
    height: 128px;
    width: 128px;
    border-radius: 50%;
    border:solid 2px #00FF00;
}


.profile footer{
    font-size: 13px;
    font-weight: 300;

}




/*construindo container de Links e imagens svg como icones*/
.icons{
    /*definindo largura e comprimento da div e suas margens em relação ao lado de fora*/
    width: 348px;
    height: 348px;
    margin: 30px 40px 0;
    
    
    /*estilizando fundo, sombra e arredondamento das bordas*/
    background-color: #302F3D;
    filter: drop-shadow(2px 2px #1E1E1E);
    border-radius: 20px;
}


.icons ul{
    /*deixando os itens em coluna e dando um espaço entre eles afastando da box da parte de cima*/
    display: flex;
    flex-direction: column;
    gap: 29px;
    list-style:none;
    padding-top:60px;
}

.icons ul a{
    text-decoration: none;
    color: #837E9F;
}
.icons ul a:hover{
    transform: translateY(-5px);
    transition: 0.2s;
}



.icons ul li{
    display: flex;
    align-items: center;
    color: #837E9F;
    padding-left: 40px;
    gap: 20.5px;
}
.icons ul li img{
    padding-right: 20px;
}

.tecno{
      width: 348px;
      height: 208px;
      /*definindo tamanho da box*/
      margin: 30px 40px 0;
      /*definindo caixa das tecnologias com margin encima(30px) laterais(40px) embaixo(0)*/
      background-color: #302F3D;
      filter: drop-shadow(2px 2px #1E1E1E);
      border-radius: 20px;
      /*cor de fundo e sombra*/  
    
}

.tecno p{
    padding: 30px 20px 0;
    font-size: large;
    font-weight: 700;
    color: #837E9F;
}
.tecno ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /*flex wrap vai empurrar o próximo elemento para baixo*/
    gap: 15px;
    padding: 0 30px 30px;
    margin-top: 20px;
}


.tecno ul li{
     font-weight: 700;
     font-size: 12px;
     width: 86px;
     height: 24px;
    /*ajustando tamanho da lista*/
    background-color: #CB92B1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.exp{
    width: 348px;
    height: 348px;
    margin: 30px 40px 0;

    background-color: #302F3D;
    filter: drop-shadow(2px 2px #1E1E1E);
    border-radius: 20px;
}
.exp p{
    padding: 30px 20px 0;
    font-size: large;
    font-weight: 700;
    color: #837E9F;
}

.educ{
    width: 348px;
    height: 348px;
    margin: 30px 40px 0;

    background-color: #302F3D;
    filter: drop-shadow(2px 2px #1E1E1E);
    border-radius: 20px;
    margin-bottom: 58px;
    
}

.educ p{
    padding: 30px 20px 0;
    font-size: large;
    font-weight: 700;
    color: #837E9F;
}

.projects{

    width:952px;
    height: 86px;
    margin-top: 40px;

    background-color: #302F3D;
    filter: drop-shadow(2px 2px #1E1E1E);
    border-radius: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects p{
    font-size: large;
    font-weight: 700;
    color: #837E9F;
    margin-left: 30px;
}

.projects a{
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: #837E9F;
    margin-right: 34px;
}

.header{
    display: inline-flex;
    
}

.github{
    display: inline-flex;
    flex-wrap: wrap;
    width:952px;
    position: absolute;
    z-index: 1;
    gap:23.5px;
    left: 430px;
    top: 157px;
    
    margin-top: -31px;
}

.github1{
    width: 461px;
    height: 186px;
    /*define tamanho e largura da caixa */
    /*define que ela está uma layer acima para que assim consiga se posicionar abaixo de projects
    mesmo dentro de outro header*/
    
    /*estilização*/
    background-color: #302F3D;
    filter: drop-shadow(2px 2px #1E1E1E);
    border-radius: 20px;
    color: #837E9F;
}

.header .github1 h4{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
    margin-left: 66px;
    margin-top: 30px;
}

.header .github1 p{
    margin-left: 30px;
    margin-top: 22px;
    font-size: 14px;
    margin-right: 10px;
    
}

.header .github1 .giticon{
    display: flex;
    align-items: center;
   

    margin-left: 30px;
    margin-top: 30px;
    
    
    gap: 52px;
    font-size: 20px;
}

.recentPost{
    width: 952px;
    height: 86px;

    position: absolute;
    z-index: 2;
    top: 233px;
    
    background-color: #302F3D;
    filter: drop-shadow(2px 2px #1E1E1E);
    border-radius: 20px;
    color: #837E9F;


}

.recentPost h2{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
}

.githubrecent{
    width: 952px;
    height: 201px;

    background-color: #302F3D;
    filter: drop-shadow(2px 2px #1E1E1E);
    border-radius: 20px;
    color: #837E9F;

    margin-top: 60px;

}


.githubrecent img{
    height: 128px;
    width: 128px;
    border-radius: 50%;

}

.githubrecent h2{
      margin-left: 178px;
      padding-top: 30px;
      
}

.githubrecent p{
     margin-left: 178px;
     padding-top: 40px;
}

.github h3{
    margin-top: 300px;
     color: red;
}

.getrecent{
    position: absolute;
    z-index: 2;
    top: 350px;
    
    width: 952px;
    height: 201px;

    background-color: #302F3D;
    filter: drop-shadow(2px 2px #1E1E1E);
    border-radius: 20px;
    color: #837E9F;
}

.getrecent h2{
    margin-left: 178px;
    margin-top: 30px;
    
}

.getrecent p{
    margin-left: 178px;
    margin-top: 10px;
    font-weight: 300;
    
}

.getrecent footer{
    margin-left: 178px;
    margin-top: 28px;
}

.getrecent img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 30px;
}